.task {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.taskContents {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    width: 500px;
}

input {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 24px;
    height: 24px;
}